body {
  margin: 0;
}
.header {
  .brand {
    align-self: center;
    font-size: 2.4rem;
    color: white;
    text-decoration: none;
    padding-left: 3rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  display: flex;
  justify-content: space-between;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.home-issue-btn {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 1rem;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-decoration: none;
}
